<main>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- Zde zacina detail -->

                <h2><span>{{ transmission.name }}</span></h2>
                <div style="margin-bottom: 22px;">
                    <b><i>Description: </i></b>{{ transmission.description }}
                </div>

                <div class="row">
                    <div class="col-md-3"><b><i>Type</i></b>
                    </div>
                    <div class="col-md-3"><b><i>Length</i></b>
                    </div>
                    <div class="col-md-3"><b><i>Language</i></b>
                    </div>
                    <div class="col-md-3"><b><i>Average Rating</i></b>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px">
                    <div class="col-md-3">{{ telemaniacs.transmissionTypeName(transmission.transmissionType) }}
                    </div>
                    <div class="col-md-3">{{ transmission.length }}
                    </div>
                    <div class="col-md-3">{{ transmission.language }}
                    </div>
                    <div class="col-md-3">
                        <span style="font-size: 18px; font-weight: bold">{{ rank | number: 1 }}</span>
                        of 5
                    </div>
                </div>

                <h3>Occurrences</h3>
                <div class="table-responsive" style="margin-top:22px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Part name</th>
                            <th>Channel</th>
                            <th>Start time</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="occurrence in transmission.occurrences">
                            <td>{{ occurrence.partName}}</td>
                            <td>{{ occurrence.channel.name}}</td>
                            <td>{{ occurrence.startDate | date: 'MM/dd/yyyy HH:mm'}}</td>
                            <td>
                                <span ng-if="occurrence.rerun">
                                    <i class="fa fa-refresh"></i> Rerun
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Zde konci detail -->
            </div>



            <div class="col-md-5">
                <!-- Zde zacinaji komentare -->
                <h3><i class="fa fa-comments"></i> Ratings &amp; comments</h3>

                <div ng-if="pageService.isLoggedIn()">
                    <p>
                        You can write your comment for the show here. Only one
                        comment is allowed per user. By submitting more comments,
                        the original one will be overriden.
                    </p>

                    <form name="form" novalidate>
                        <div class="form-group" ng-class="{ 'has-error': !(form.comment.$valid) }">
                            <textarea ng-model="myVoting.comment" id="comment" name="comment" class="form-control" rows="3" required
                                placeholder="Your comment here" />
                        </div>

                        <div class="form-group">
                            <input type="hidden" name="rank" id="rank" ng-model="transmission.rank" />
                            <input type="hidden" name="id" ng-model="transmission.id" />

                            <div class="row">
                                <div class="col-md-6" id="rank-bar">
                                    <a href="#" id="rank-star-1" ng-click="setRank(1)"><i class="fa fa-star-o"></i></a>
                                    <a href="#" id="rank-star-2" ng-click="setRank(2)"><i class="fa fa-star-o"></i></a>
                                    <a href="#" id="rank-star-3" ng-click="setRank(3)"><i class="fa fa-star-o"></i></a>
                                    <a href="#" id="rank-star-4" ng-click="setRank(4)"><i class="fa fa-star-o"></i></a>
                                    <a href="#" id="rank-star-5" ng-click="setRank(5)"><i class="fa fa-star-o"></i></a>

                                    <span>({{myVoting.rank}})</span>
                                </div>

                                <div class="col-md-6">
                                    <button ng-click="saveComment(transmission.id, myVoting)" ng-disabled="!form.$valid"
                                            class="btn btn-primary pull-right" type="submit">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr />
                </div>

                <div class="panel panel-default" ng-repeat="voting in votings">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <i class="fa fa-user-o"></i>
                                <strong>{{ voting.user.username }}</strong>
                            </div>

                            <div class="col-md-4">
                                <i class="fa fa-star" ng-repeat="i in range(voting.rank) track by $index"></i><i class="fa fa-star-o" ng-repeat="i in range(5 - voting.rank) track by $index"></i>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">{{ voting.comment }}</div>
                </div>
                <!-- Zde konci komentare -->
            </div>
        </div>
    </div>
</main>